Flask
pandas
openai
sentence-transformers
gradio
requests
langchain
openai
anthropic
huggingface_hub
langchain-community
langchain-openai
langchain-mistralai
langchain-ollama
watchdog
pymongo
dnspython
flask_pymongo
